
@model Planning.Areas.Admin.Models.PlanningAnusuchiViewModel.Anusuchi9ViewModel

@using Planning.Helpers


@using (Html.BeginCollectionItem("Anusuchi9_Discussion_SubjectsViewModelList"))
{
    <div id="Subject_SamitiBaithak" class="form-group">

        <div class="col-md-6">@Html.TextAreaFor(model => model.Subjects, 3, 70, new { htmlAttributes = new { @class = "form-control", @placeholder = "विषय राख्नुहोस" } }) </div>

        <div class="btn-delete col-md-1">
            <div><a href='javascript:;' class="btn btn-danger btn-sm removesubjects"><span class='fa fa-minus fa-1x'></span></a></div>
        </div>
        <div class="clearfix"></div>
    </div>
}


<script>
    $(".removesubjects").click(function () {
        $(this).parents("#Subject_SamitiBaithak").remove();
    });
</script>
