
@model Planning.Areas.Admin.Models.PlanningAnusuchiViewModel.Anusuchi3ViewModel

@using Planning.Helpers

@using (Html.BeginCollectionItem("Anusuchi3MaujatViewModelList"))
{
    @Html.HiddenFor(model => model.Type, new { @class = "form-control", @Value = "1" })
    @Html.HiddenFor(model => model.Maujat_Details, new { @class = "form-control", @Value = "नगद" })
    <div class="col-md-3" style="text-align:center;">१ नगद</div>
    <div class="col-md-3">@Html.TextBoxFor(model => model.Maujat_Amount, new { @class = "form-control"}) </div>
    <div class="col-md-5">@Html.TextAreaFor(model => model.Maujat_Remarks, new { @class = "form-control" }) </div>
    <div class="clearfix"></div>
}










