
.main-content{padding-top:30px;}
.main-content .tab-content{margin-top:15px;}
.main-content .nav-pills li{margin-right:15px;}
.main-content .nav-pills li a {border:1px solid #ddd;}
	.inputGroupContainer .input-group, .inputGroupContainer input, .selectContainer select{margin-bottom:15px;}
	
	.fileUpload, .fileUpload2, .fileUpload3 {
        position: relative;
        overflow: hidden;
        margin: 10px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .fileUpload input.upload, .fileUpload2 input.upload, .fileUpload3 input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
	.form-group button{display:inline-block; position:relative; margin-right:15px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
.board{
margin: 60px auto;
background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
	border-bottom: 0;
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(https://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.board .nav-tabs > li.active > a, .board .nav-tabs > li.active > a:hover, .board .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: #999;border: 2px solid #999;
}

span.round-tabs.two{
    color: #f1685e;border: 2px solid #f1685e;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

span.round-tabs.four{
    color: #febe29;border: 2px solid #febe29;
}

span.round-tabs.five{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

.board li.active span.round-tabs.one, .board li.active span.round-tabs.two, .board li.active span.round-tabs.three, .board li.active span.round-tabs.four, .board li.active span.round-tabs.five{
    background: rgb(34, 194, 34) !important;
    border: 0px solid #ddd;
    color: #fff;
}
.board li{border-bottom:1px solid #ddd;}
.board li.active{border-bottom-color:#22c223;}

.board .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.board .nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.board li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.board li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #22c223;
    
}
.board .nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.board .nav-tabs > li a:hover{
    background: transparent;
}

.board .tab-content{
}
.board .tab-pane{
   position: relative;
	padding: 30px;
}
.board .tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.board .btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.step_ttl{background:#3e5e9a; padding:10px 15px; color:#fff; display:inline-block; border-radius:1px; border-top-left-radius:4px; border-bottom-left-radius:4px; position:relative; margin-top: 0px;}
.step_ttl:after {
    content: " ";
    position: absolute;
    left: 100%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 23px solid transparent;
    border-left-color: #3e5e9a;
}




@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .board .tab-content .head{
        font-size:20px;
        }
    .board .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.board li.active:after {
content: " ";
position: absolute;
left: 35%;
}

}	














    /*.main-content{padding-top:30px;}
.main-content .tab-content{margin-top:15px;}
.main-content .nav-pills li{margin-right:15px;}
.main-content .nav-pills li a {border:1px solid #ddd;}
	.inputGroupContainer .input-group, .inputGroupContainer input, .selectContainer select{margin-bottom:15px;}
	
	.fileUpload, .fileUpload2, .fileUpload3 {
        position: relative;
        overflow: hidden;
        margin: 10px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .fileUpload input.upload, .fileUpload2 input.upload, .fileUpload3 input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
	.form-group button{display:inline-block; position:relative; margin-right:15px;}
	
	
	
	
.board{
margin: 60px auto;
background: #fff;

}
.board .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(https://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.board .nav-tabs > li.active > a, .board .nav-tabs > li.active > a:hover, .board .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: #999;border: 2px solid #999;
}

.board li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

span.round-tabs.two{
    color: #f1685e;border: 2px solid #f1685e;
}

.board li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

.board li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}
span.round-tabs.four{
    color: #febe29;border: 2px solid #febe29;
}

.board li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.five{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

.board li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}



.board .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.board .nav-tabs > li {
    width: 20%;
}

.board li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.board li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.board .nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.board .nav-tabs > li a:hover{
    background: transparent;
}

.board .tab-content{
}
.board .tab-pane{
   position: relative;
	padding: 30px;
}
.board .tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.board .btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.step_ttl{background:#3e5e9a; padding:10px 15px; color:#fff; display:inline-block; border-radius:1px; border-top-left-radius:4px; border-bottom-left-radius:4px; position:relative; margin-top: 0px;}
.step_ttl:after {
    content: " ";
    position: absolute;
    left: 100%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 23px solid transparent;
    border-left-color: #3e5e9a;
}




@@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .board .tab-content .head{
        font-size:20px;
        }
    .board .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.board li.active:after {
content: " ";
position: absolute;
left: 35%;
}

}*/	
